.post-card-container {
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  gap: 8px;
  
}
.profile-area-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profile-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: white;
  opacity: 0.7;
}
.profile-area-container h3 {
  font-weight: 500;
  font-size: 16px;
  color: white;
  opacity: 0.7;

}
.profile-area-name h3 {
  font-weight: 500;
  font-size: 16px;
}
.profile-area-name p {
  font-weight: 400;
  font-size: 14px;
}
.post-activity-profile-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--btn-color);
}

.activity-post-area{
    width: 100%;
    height: 100%;
}
.post-details-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.post-activity-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.089);
}
.activity-post-image{
    height: 200px;
    object-fit: contain;
}
.post-description{
    color: white;
}
.post-description h3{
    font-size: 16px;
    font-weight: 700;
}
.post-description p{
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
}
.post-card-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: 500;
    width: 100%;
}

.post-card-button button{
    background-color: var(--btn-color);
    padding: 8px 20px;
    border-radius: 10px;
}
